@charset "UFT-8";

*{
   margin: 0%;
}
@font-face {
   font-family:'android';
   src: url('fontes/IDroid.otf') format('opentype');
}
@font-face {
   font-family: 'BebasNeue';
   src: url('fontes/BebasNeue-Regular.ttf') format('truetype');
}
:root{
   --fonte-h1: 'BebasNeue', "cursive";
   --fonte-h2: 'android', 'Arial Narrow';
   --cor-body: #64e787;
   --cor1-heard: #0BDC43;
   --cor2-heard:#253328;
}
body{
   background-color: var(--cor-body);
}
header{
   background-image: linear-gradient(to bottom,var(--cor1-heard), var(--cor2-heard)) ;
   color: aliceblue;
   font-size: 20px;
   
}
header > h1 {
   font-family: var(--fonte-h1);
   padding: 10px;  
   text-align: center;
   text-shadow: 2px 2px 0px black;
}
header > p{
   text-align: center;
   
}
nav{
   padding-top: 30px;
   padding-bottom: 9px;
}
a{
   text-decoration: none;
   color: aliceblue;
}
nav > a{
   text-decoration: none;
   color: aliceblue;
   padding: 10px;
   transition: 0.5s;
}
nav > a:hover{
   color: black;
   background-color: var(--cor-body);
   border-radius: 3px;
}
.principal{
   background-color: aliceblue;
   min-width: 320px;
   max-width: 800px;
   padding-left: 10px;
   padding-right: 10px;
   margin: auto;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
   border-bottom-right-radius: 14px;
   border-bottom-left-radius: 14px;
}

main > h1, h2{
   font-family: var(--fonte-h2);
   margin-bottom: 10px;
}
img{
   width: 100%;
   padding-top:5px ;
}
main strong{
   color:#094516;
}
main  a{
   color:aliceblue;
   background-color: #1a8737;
}
h2{
   background-image: linear-gradient(to right, #0BDC43, aliceblue);
   padding: 2px;
  
}

p{
  text-indent: 0.8cm;
  text-align: justify;
  padding-bottom: 5px;
}
.video{
   position: relative;
   background-color: #094516;
   height: 0%;
   margin: 0px -10px 10px -10px;
   padding-bottom: 56%;
}
.video > iframe{
   position: absolute;
   top: 8.5%;
   left: 4.5%;
   width: 91%;
   height: 84%;
}

aside{
   padding-right: 10px ;
   padding-bottom: 10px;
   padding-left: 10px;
   background-color: #6df390;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   
   max-width: 779px;
}
h3{
   background-color: #0b7a23;
   padding-bottom: 5px;
   max-width: 799px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   text-indent: 0.4em;
}
ul{
   display: inline-block;
   list-style-type: '\2714';
}
.listas{
   background-color: #6df390;
   margin: auto;
   max-width: 450px;
}

footer{
   background-color: #094516;
   text-align: center;
   color: aliceblue;
   font-size: 0.8em;
}
